head
   include googleAnalytics/analyticsScript.html
   title Unauthorized Access
   style
     include css/style.css
   body
     div.bottom-text 
       h3 Only users with a Suffolk County Library employee email address can access the librarian tools.  
       p 
        | You have attempted to login with an email address that does not have a Suffolk County Library domain.  
        | If you have a different email from a Suffolk County library, 
        a(href='/logout') return home
        |  and login using that account.  