head
   title Verification Needed
   style
     include css/style.css
   body
     div.header
       div.icon
         a(href="/") 
           img(src = "https://cdn.glitch.com/d7b2812e-18db-4d98-b36a-64ba8c765442%2FSuffolkLibraryPrograms_logo.png?v=1576465948961", alt = "Logo for Suffolk Library Programs", height = 86, width = 167)
       div.login
         a(href="/") Return Home
         br
         br
         a(href="/logout") Logout
     div.bottom-text
       p
         | An email was sent to your account - please click the link within and then return to the 
         a(href="/login") Librarian Tools 
         | page